# Intro to Python â€” Part 1
(This notebook is incomplete; after today's lecture, the remainder will be made available)

**Attribution note**: Some material for this notebook was adapted from the lessons developed by [Software Carpentry](http://software-carpentry.org/) ([Programming with Python](http://swcarpentry.github.io/python-novice-inflammation/)), as well as material previously created by Oliver Beckstein ([Python Crash Course for SimBioNano PHY 598](http://becksteinlab.physics.asu.edu/pages/courses/2013/SimBioNano/03/IntroductiontoPython/p03_instructor.html)). This notebook was created by David Dotson and Oliver Beckstein and is made available under a CC-BY 4.0 license.

For learning the basics of Python, we'll be using the **Jupyter Notebook**, which is not only a great tool for teaching, but also for prototyping code and data exploration.

It's important to understand, however, that Python code often resides in plain text files that are run from the shell as executables. We will see how this is done in a future lesson.

## Using the Jupyter Notebook

The notebook has two modes: 
- **Command** mode for working with whole cells
- **Edit** mode for editing contents of cells

To enter **Command** mode at any time, hit the `Esc` key. You can get a full list of the keyboard shortcuts by hitting the `h` key. 

Create a new cell by hitting the `b` key. To enter **Edit** mode, hit `Enter` on the cell you wish to edit.

To execute a cell, hit `Ctrl+Enter`.

To save your work, in **Command** mode hit `s`.

If at any time you want to restart the Python kernel, in **Command** mode hit `00`.

## The assignment operator

In Python everything is an object. What this means will become more clear later, but it's an important component to understanding how Python actually behaves. Key to this is the "assignment" operator, `=`:

In [3]:
a = 1

In [2]:
print(a)

1

In [3]:
type(a)

int

What's happening here is that we are creating an integer of value `1` and attaching a name, `a`, to it. Unlike many other languages, such as compiled languages like C or Fortran, a variable like `a` is not tied to a data type. So we could assign it a string instead:

In [4]:
a = 'word'

In [5]:
print(a)

word

In [6]:
type(a)

str

## Basic data types

The basic data types of Python include:

### Numbers

In [7]:
# integers
42

42

In [8]:
# floating point numbers
3.14159

3.14159

In [9]:
# complex numbers
3.2 - 0.3j

(3.2-0.3j)

### Strings

Single or double quotes both work:

In [10]:
"Hello World!"

'Hello World!'

In [11]:
'Hello World'

'Hello World'

Nesting allows you to include quotes in the string:

In [12]:
'"Hello World"'

'"Hello World"'

You can include apostrophes by 'escaping' with `\`:

In [13]:
'What\'s your name?'

"What's your name?"

### Booleans

There are only two values a boolean can have: `True` or `False`.

In [14]:
True

True

In [15]:
False

False

We'll see how to use these later on for writing code that makes decisions.

## Operators

Operations between data structures using `+`, `-`, `*`, and `/` are often defined as you expect.

In [16]:
3 + 2

5

In [17]:
5 - 7

-2

In [18]:
3.2 * 10

32.0

In [19]:
76.2/11

6.927272727272728

Some can be used for strings, too:

In [20]:
'ars' + 'technica'

'arstechnica'

In [21]:
'sesame ' * 6 + 'street'

'sesame sesame sesame sesame sesame sesame street'

## Basic data structures

Python has built-in data structures for working with collections of objects.

### Lists

One of the most commonly used is the `list`:

In [22]:
bag = [1, 3, "cat", 5, "dog"]
empty = []

In [23]:
bag

[1, 3, 'cat', 5, 'dog']

Lists can be indexed using integers (starting at 0) to access their items:

In [24]:
bag[0]

1

In [25]:
bag[3]

5

In [26]:
bag[-1]

'dog'

In [27]:
bag[10]

IndexError: list index out of range

We can also get "slices" of the list with slicing:

In [28]:
bag[1:4]

[3, 'cat', 5]

This should be read as
> "Get each item in the list starting from the item at index 1 up to and not including the item at index 4."

The "up to and not including" is key, and takes some getting used to. Python is consistent with this usage throughout.

### Breakout: Indexing and slicing

1. Make a list `numbers` that contains the numbers 0, 1, 2, 3, ..., 6.
2. Access and print the last element.
3. Access and print the first element.
4. How would you need to slice to get `[3,4,5]`?
5. How would you need to slice to get `[5,4,3]`? (Hint: slices can be `start:stop:step`)

In [12]:
numbers = [0,1,2,3,4,5,6]
numbers

[0, 1, 2, 3, 4, 5, 6]

In [13]:
numbers[-1]

6

In [14]:
numbers[0]

0

In [17]:
numbers[3:6]

[3, 4, 5]

In [19]:
numbers[5:2:-1]

[5, 4, 3]

### Dictionaries

Dictionaries are containers that can be indexed with arbitrary keys:

In [29]:
ages = {'Einstein': 42, 'Dirac': 31, 'Feynman': 47}

In [30]:
ages['Dirac']

31

In [31]:
ages['Heisenberg'] = 1932 - 1901

In [32]:
print(ages)

{'Dirac': 31, 'Feynman': 47, 'Einstein': 42, 'Heisenberg': 31}

Note that unlike lists, dictionaries have no defined order.

## Names and objects

As mentioned earlier, everything is an object in Python, and names can be attached to these so we can refer back to them. To illustrate further the implications of this, take this example:

In [33]:
# say this is my weight in kilograms
weight_kg = 55

In [34]:
# I'll calculate my weight in pounds
weight_lb = 2.2 * weight_kg

print(weight_lb)

121.00000000000001

Apparently I got it wrong, my weight is not that low! Let me try again:

In [35]:
# say this is my weight in kilograms
weight_kg = 70

In [36]:
# now we should be good
print(weight_lb)

121.00000000000001

What's happening here?

`weight_lb` is just a name attached to a value, in this case a `float`. It knows nothing about how that value came to be. In order to update `weight_lb`, we must re-run the code we calculated it with given the new value of `weight_kg`:

In [37]:
# I'll calculate my weight in pounds
weight_lb = 2.2 * weight_kg

print(weight_lb)

154.0

So now the value is updated. This behavior is different than, say, spreadsheet cells work, in which a formula given to a cell automatically shows updated values when the cells the formula refers to are updated.

Now, imagine I have a list called `stuff`:

In [38]:
stuff = list()
print(stuff)

[]

If I add stuff to it...

In [39]:
stuff.append('chewbacca')
stuff.append('hansolo')
stuff.append(42)
stuff.append(ages)

We now have a list that indexes a variety of different objects:

In [40]:
print(stuff)

['chewbacca', 'hansolo', 42, {'Dirac': 31, 'Feynman': 47, 'Einstein': 42, 'Heisenberg': 31}]

Now let's add the list to itself:

In [41]:
stuff.append(stuff)

Does this work?

In [42]:
print(stuff)

['chewbacca', 'hansolo', 42, {'Dirac': 31, 'Feynman': 47, 'Einstein': 42, 'Heisenberg': 31}, [...]]

In [43]:
print(stuff[-1])

['chewbacca', 'hansolo', 42, {'Dirac': 31, 'Feynman': 47, 'Einstein': 42, 'Heisenberg': 31}, [...]]

In [44]:
print(stuff[-1][-1])

['chewbacca', 'hansolo', 42, {'Dirac': 31, 'Feynman': 47, 'Einstein': 42, 'Heisenberg': 31}, [...]]

It does! Now what if we change the second element?

In [45]:
stuff[-1][-1][1] = 'leiaorgana'

In [46]:
print(stuff)

['chewbacca', 'leiaorgana', 42, {'Dirac': 31, 'Feynman': 47, 'Einstein': 42, 'Heisenberg': 31}, [...]]

Changing the list at `stuff[-1][-1]` changed `stuff`. How? Because they are the same list, literally. Both of these are names that point to the same place, like two web addresses that lead to the same website. The `is` builtin can tell us if the objects referenced by two names are the same object:

In [47]:
stuff[-1][-1] is stuff

True

Being unaware of this behavior can bite you, so remember: in Python, there are objects and names, and more than one name can point to the same object.

## Repetition with loops

Say we have a word:

In [48]:
word = 'bird'

and the word is 'bird'. We want to print each letter of the word to a separate line. We could do this with:

In [49]:
print(word[0])
print(word[1])
print(word[2])
print(word[3])

b
i
r
d

But this doesn't scale. What if our word was something more substantial, like:

In [50]:
word = 'supercalifragilisticexpialidocious'

One thing that computers do remarkably well that humans do not: the same thing, repeatedly, over and over again. We should use a loop:

In [51]:
for letter in word:
    print(letter)

s
u
p
e
r
c
a
l
i
f
r
a
g
i
l
i
s
t
i
c
e
x
p
i
a
l
i
d
o
c
i
o
u
s

**Note**: Python is indentation-sensitive! The body of the for-loop is one indentation level, or four spaces, from the level of the `for` statement itself. Statements that follow the loop should be at the original indentation level.

### Breakout: Write a loop that counts the number of characters in a word.

Answer:

In [52]:
count = 0
for letter in word:
    count += 1

print(count)

34

But a better solution is to use the builtin function `len`:

In [53]:
len(word)

34

### Looping over a range of numbers

Loop 6 times over the numbers 0 - 5: use `range()`:

In [20]:
for number in range(6):
    print(number)

0
1
2
3
4
5